<!DOCTYPE html>
<html lang=en ng-app="WifiGoApp">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Wifi on the Go</title>
	<link rel="stylesheet" href="angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
	<link rel="stylesheet" href="styles.css">
	<script src="/scripts/braintree.js"></script>
     </head>
<body >
	<div id="wifiUserInfo" ng-controller="UserInfoController">
		<form>
			Shipping Location: <input type="text" name="firstName" ng-model="userInfo.firstName"> <br/>
			First Name: <input type="text" name="firstName" ng-model="userInfo.firstName"> <br/>
			Last Name: <input type="text" name="lastName" ng-model="userInfo.lastName"> <br/>
			Billing Address: <input type="text" name="address1" ng-model="userInfo.address1"> <br/>
			Billing Address: <input type="text" name="address2" ng-model="userInfo.address2"> <br/>
			City: <input type="text" name="city" ng-model="userInfo.city"> <br/>
			State/Province: <input type="text" name="state" ng-model="userInfo.state"> <br/>
			Zip/Postal Code: <input type="text" name="postalcode" ng-model="userInfo.postalcode"> <br/>
			Country: <input type="text" name="country" ng-model="userInfo.country"> <br/>
			<button ng-click="userInfo.submitUserInfo()"> Submit</button>
		</form>
	</div>
	<div id="wifiPay" ng-controller="DropinController">
		Amount: <input name="Amount" disabled value = 20>
		<div class="dropin-container" ng-show="showDropinContainer">
        <form name="payment">
			<div> The Amount is determined value of 20$</div>
          <!-- Add Dropin here -->
          <div id="checkout"></div>         
        </form>
      </div>
	</div>		
 <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-material.min.js"></script>  
	<script src="dropin.js"></script>
</body>
</html>
